.profile-main-div{
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    .profile-section{
        display:flex;
        flex-direction:column;
        .text{
            font-size:1.3rem;
        }
    }
    .history-section{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}